.navbar {
  height: 50px;
  justify-content: flex-start;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logo {
  background-color: blueviolet;
  align-items: center;
  align-content: stretch;
}
.navbar {
  /* background-color: rgba(222, 184, 135, 0); */
  flex-grow: 3;
}
li a {
  list-style-type: none;
  padding-right: 23px;
  color: rgb(152, 153, 155);
  text-decoration: none;
}
ul {
  display: flex;
}
li a:hover {
  color: aliceblue;
}
@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding: 0px 0px;
  }
  .navbar {
    height: 100px;
    padding-bottom: 0px;
  }
  .logo {
    align-content: flex-start;
    width: 50px;
    height: 50px;
  }
  li a {
    padding-right: 23px;
  }
}
.container-escopo {
  width: 800px;
  margin-top: 25px;
  background-color: rgb(252, 252, 252);
  margin-left: 16%;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #ffffff;
  height: 200px;
  width: 800px;
}

.flex-container > div {
  background-color: #ffffff;
  color: rgb(36, 34, 34);
  margin: 10px;
  text-align: left;
  line-height: 150px;
  font-size: 30px;
}

#foto01 {
  background-image: url("guilherme.jpg");
  background-size: 190px 170px;
  background-repeat: no-repeat;
  padding: 15px;
}

#foto02 {
  background-image: url("joel1.jpg");
  background-size: 190px 190px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 15px;
}
