/* Folha de estilo código da página calcTest*/
.display {
  grid-area: header;
  border-radius: 20px;
  height: 80px;
  background-color: rgb(39, 39, 39);
}
.clear {
  grid-area: ac;
}
.backspace {
  grid-area: mm;
}
.percent {
  grid-area: per;
}
.div {
  grid-area: div;
}
.seven {
  grid-area: seven;
}
.eith {
  grid-area: eith;
}
.nine {
  grid-area: nine;
}
.mult {
  grid-area: mult;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.sub {
  grid-area: sub;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.sum {
  grid-area: sum;
}
.zero {
  grid-area: zero;
}
.vir {
  grid-area: vir;
}
.even {
  grid-area: even;
}
.number {
  border-radius: 60px;
  border-style: none;
  height: 60px;
}
.page-container {
  max-width: 360px;
  margin: 0 auto;
  padding: 25px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "ac mm per div"
    "seven eith nine mult"
    "four five six sub"
    "one two three sum"
    "zero zero vir igual";
  grid-gap: 5px;
  background-color: #161616;
  padding: 10px;
  border-radius: 10px;
  height: auto;
}

.grid-container > div {
  text-align: center;
  padding: 25px 0;
  color: aliceblue;
}
#maisMenos {
  font-size: 10px;
}
#laranja {
  background-color: #d35704;
}
#cinzaClaro {
  background-color: #757575;
}
.element-distance {
  display: flex;
  align-items: center;
  background-color: brown;
  padding: 10%;
}

@media (max-width: 960px) {
  .element-distance {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
