.container01 {
  display: flex;
  align-items: center;
  background-color: brown;
  padding: 10%;
}
.navbar {
  height: 65px;
}
img {
  margin-top: -10px;
}

ul {
  /* list-style-type: none; */
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-family: "Courier New", Courier, monospace;
  display: block;
  color: rgb(181, 182, 182);
  text-align: center;
  padding: 0px 15px;
  margin: 0 auto;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  font-size: 17px;
  color: aliceblue;
  padding: 0px;
}
