.bloc-distance {
  display: flex;
  align-items: center;
  background-color: brown;
  padding: 10%;
}
@media (max-width: 960px) {
  .bloc-distance {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
