.container01 {
  display: flex;
  align-items: center;
  background-color: brown;
  padding: 10%;
}
@media (max-width:540px){
  .container01{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
.navbar {
  height: 65px;
}
img {
  margin-top: -10px;
}

ul {
  /* list-style-type: none; */
  margin-top: -5px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  font-family: "Courier New", Courier, monospace;
  display: block;
  color: rgb(181, 182, 182);
  text-align: center;
  padding: 15px 15px;
  margin: 0 auto;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(17, 20, 22);
  color: rgb(244, 246, 248);
}
.head {
  color: #333;
  text-align: center;
  padding: 25px;
}
.navbar {
  height: 60px;
  justify-content: flex-start;
}
img {
  margin-top: -25px;
}
